/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*default font size is 1.6rem so 62.5% of it is 1.0rem*/
  /* 10px/16px = 62.5% -> 1rem = 10px */
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 1.6rem; */
  line-height: 1.7;
  background-color: white;
  color: #7777;
  padding: 2rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      hsla(111, 55%, 64%, 0.795),
      rgba(40, 180, 133, 0.781)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  /* background-color: red; */
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* position: relative; */
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  text-align: start;
  margin-bottom: 3rem;
}

.heading-primary-main {
  display: block;
  font-size: 5.8rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1.5s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  /* animation: moveInRight;
  animation-duration: 2s; */
  animation: moveInRight 1.7s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 3rem;
  display: inline-block;
  margin-top: 0.5rem;
  border-radius: 10rem;
  transition: all 0.5s ease;
  position: relative;
}

.btn:hover {
  /* transform: translateY(-.5rem); */
  box-shadow: 0 0 1.5rem 0.7rem rgba(41, 41, 41, 0.3);
  transform: scale(1.1) translateY(-0.2rem);
}

.btn:active {
  transform: translateY(0.2rem);
}

.btn-white {
  background-color: white;
  color: #777;
  animation: moveInBottom 1s ease-out;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: rgb(255, 255, 255);
}

.btn:hover::after {
  transform: scale(1.2);
  opacity: 0;
}

@keyframes moveInBottom {
  0% {
    transform: translateY(13rem);
    opacity: 0.2;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
